*{
    font-family: 'Teko', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    text-align: center;
}

header{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 3px black;
    text-align: center;
}

header input{
    display: flex;
    left: 500px;
}

header li{
    display: inline;
    padding-left: 45px;
}

header li img{
    float: left;
    width: 70px;
    margin-top: -20px;
}

header li a{
    color: black;
    text-decoration: none;
    padding: 13px;
    font-size: 18px;
    transition: .5s ease;
}

header li a:hover{
    color: rgb(121, 186, 121);
}

.contact{
    display: flex;
}

header ul #contact a{
    color: floralwhite;
    background-color: rgb(86, 39, 86);
    border-radius: 5px;
    float: right;
    position: relative;
    top: -15px;
    transition: .5 ease;
    font-size: 20px;
}

header ul #contact a:hover{
   background-color: rgb(225, 222, 222);
}

.active{
    color: rgb(121, 186, 121);
}

.body-content{
  margin: auto;
  display: flex;
  text-align: left;
  float: left;
  padding-left: 80px;
}

.body-content h1{
    padding-top: 90px;
    font-size: 70px;
}

.body-content p{
    font-size: 20px;
}

.cart{
    position: fixed;
    right: 80px;
    bottom: 80px;
}

.cart a{
    color: white;
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(86, 39, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.cart a:hover{
    background-color: rgb(144, 113, 118);
}

.search-box{
    position: absolute;
    background-color: none;
    transform: translate;
    top: 730px;
    height: 40px;
    border: solid;
    border-radius: 40px;
    padding: 10px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 70px 0;
}
.search-button{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(86, 39, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}
.search-button:hover{
    background-color: rgb(144, 113, 118);
}

.search-text{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 20px;
    line-height: 40px;
    width: 530px;
}

.small-container{
    max-width: 80%;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(150, 147, 141, 0.079);
    align-content: center;
    justify-content: center;
}


.col-4{
    background-color: #f1f1f1;
    flex-basis: 25%;
    padding: 20px;
    padding-top: 120px;
    padding-bottom: 40px;
    min-width: 200px;
    height: auto;
    margin: 10px;
    justify-content: center;
    align-content: center;
}

.padding-fix1{
    padding-top: 108px;
}

.padding-fix2{
    padding-top: 124px;
}

.col-4 img{
    width: 250px;
}

.row1-first{
    padding-top: 163px;
}

.row2-first{
    padding-top: 148px;
}

.row3-first{
    padding-bottom: 300px;
}
.row1, .row2, .row3, .row4{
    display: flex;
    justify-content: center;
    align-content: center;
}


.add-cart{
    margin-top: 20px;
    border: 1px solid;
    border-radius: 10px;
}

.add-cart:hover{
    cursor: pointer;
}

.add-cart p{
    font-size: 18px;
}

.popup-des {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
  
.popup-content {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 60%;
    font-size: 30px;
    color: white;
}
  
.check{
    height: 150px;
    width: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* cart page */

.cart-container{
    background: white;
    height: 150px;
    width: 80%;
    margin: 2% 10%;
}

.cart-header{
    background: white;
    height: 50px;
    width: 80%;
    margin: 2% 10%;
}

.prod-div{
    float: left;
    text-align: center;
    margin-left: 140px;
    letter-spacing: 1px;
}

.other-div{
    float: right;
}

.other-div p{
    word-spacing: 130px;
    margin-right: 50px;
    letter-spacing: 1px;
}

.cart-image{
    height: 100px;
    width: auto;
    float: left;
    margin: 20px;
    margin-left: 60px;
}

.cart-image img{
    height: 100px;
    width: auto;
}

.check{
    float: left;
    margin-top: 6%;
    margin-left: 20px;
    height: 30px;
    width: auto;
}

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 0.2px solid gainsboro;
}

.check:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.check input:checked ~ .checkmark {
    background-color: rgb(144, 113, 118);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check input:checked ~ .checkmark:after {
    display: block;
}

.check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.counter{
    height: 20px;
    width: auto;
    float: left;
    margin-top: 9%;
    margin-left: 70px;
}

.counter input{
    height: 30px;
    font-size: 20px;
    padding-left: 22px;
    width: 30px;
}

.counter button{
    height: 35px;
    width: 30px;
}

.info{
    height: 150px;
    width: 600px;
    justify-content: center;
    align-content: center;
    float: right;
}

.price{
    float: left;
    height: 20px;
    width: auto;
    margin-top: 8%;
    margin-left: 10px;
}

.size{
    float: left;
    height: 20px;
    width: auto;
    margin-top: 10%;
    margin-left: 100px;
}

.total{
    float: left;
    height: 20px;
    width: auto;
    margin-top: 8%;
    margin-left: 68px;
}

.footer{
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    box-shadow: 0px -5px 3px rgb(238, 232, 232);
}

.total-footer{
    position: absolute;
    top: 10px;
    right: 260px;
    font-size: 20px;
}

.checkout{
    position: relative;
    float: right;
    height: 40px;
    width: 100px;
    border: 1px solid rgb(86, 39, 86);
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 1.5%;
    margin-right: 150px;
    background-color: rgb(86, 39, 86);
}

.checkout p{
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    margin-left: 6px;
    color: white;
    letter-spacing: 1px;
}

.checkout:hover{
    cursor: pointer;
}

.for-space{
    position: relative;
    height: 80px;
    width: auto;
}

/*---footer---*/

.footer{
    background: black;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
    display: flex;
    height: 100%;
}

.footer p{
    color: white;
    text-align: center;
}

.footer h3{
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    display: inline-block;
    
}

.footer-col-1{
    flex-basis:30px;
}

.footer-col-2{
    flex:1;
    left: 600px;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 10px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none ;
}

.footer hr{
    border: none;
    background: rgb(86, 39, 86);
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}
.contact-us{
    box-sizing: border-box;
    min-height: 100vh;
    background: rgb(244, 244, 244);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-c-us{
    width: 80%;
    background: white;
    border-radius: 6px;
    padding: 20px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container-c-us .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-c-us .content .left-side{
    width: 25%;
    height: 100%;
    position: relative;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(88, 85, 85);
}

.contact .left-side .details{
    margin: 14px;
    text-align: center;
}

.contact .left-side .details i{
    font-size: 30px;
    color: rgb(86, 39, 86);
    margin-bottom: 10px;
}

.contact .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}

.contact .left-side .details .topic .text-one,
.contact .left-side .details .topic .text-two{
    font-size: 14px;
    color: rgb(88, 85, 85);
}

.container-c-us .content .right-side{
    width: 75%;
    margin-left: 75px;
} 

.container-c-us .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: rgb(121, 186, 121)
}

.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    background: #eaebf2;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box{
    min-height: 110px;
}



.right-side .button{
    margin-top: 12px;
    display: inline-block;
}

.right-side .button input[type="button"]{
    cursor: pointer;
    color: white;
    font-size: 18px;
    background: rgb(86, 39, 86);
    outline: none;
    border:none;
    border-radius:6px;
    padding: 8px 16px;
    transition: all 0.5s ease;
}

.right-side .button input[type="button"]:hover{
    background: rgb(180, 114, 180);
}

@media (max-width: 950px){
    .container-c-us{
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}

@media (max-width: 820px){
    .container-c-us{
        margin: 40px 0;
        height: 100%;
    }
    .container-c-us .content{
        flex-direction: column-reverse;
    }
    .container-c-us .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container-c-us .content .left-side::before{
        display: none;
    }

    .container-c-us .content .right-side{
        width: 100%;
        margin-left: 0;
    }
}
