*{
    font-family: 'Teko', sans-serif;
}

body{
    background-color: rgb(229, 225, 217);
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    text-align: center;
}

header{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 3px black;
    text-align: center;
}

header input{
    display: flex;
    left: 500px;
}

header li{
    display: inline;
    padding-left: 45px;
}

header li img{
    float: left;
    width: 70px;
    margin-top: -20px;
}

header li a{
    color: black;
    text-decoration: none;
    padding: 13px;
    font-size: 18px;
    transition: .5s ease;
}

header li a:hover{
    color: rgb(121, 186, 121);
}

.contact{
    display: flex;
}

header ul #contact a{
    color: floralwhite;
    background-color: rgb(86, 39, 86);
    border-radius: 5px;
    float: right;
    position: relative;
    top: -15px;
    transition: .5 ease;
    font-size: 20px;
}

header ul #contact a:hover{
   background-color: rgb(144, 113, 118);
}

.active{
    color: rgb(121, 186, 121);
}

.body-content{
  margin: auto;
  display: flex;
  text-align: left;
  float: left;
  padding-left: 80px;
}

.body-content h1{
    padding-top: 90px;
    font-size: 70px;
}

.body-content p{
    font-size: 20px;
}

.cart{
    position: fixed;
    right: 80px;
    bottom: 80px;
}

.cart a{
    color: white;
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(86, 39, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.cart a:hover{
    background-color: rgb(144, 113, 118);
}

.search-box{
    position: absolute;
    background-color: none;
    transform: translate;
    top: 730px;
    height: 40px;
    border: solid;
    border-radius: 40px;
    padding: 10px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 70px 0;
}
.search-button{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(86, 39, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}
.search-button:hover{
    background-color: rgb(144, 113, 118);
}

.search-text{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 20px;
    line-height: 40px;
    width: 530px;
}

.small-container{
    max-width: 80%;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(150, 147, 141, 0.079);
    align-content: center;
    justify-content: center;
}


.col-4{
    background-color: #f1f1f1;
    flex-basis: 25%;
    padding: 20px;
    padding-top: 120px;
    padding-bottom: 40px;
    min-width: 200px;
    height: auto;
    margin: 10px;
    justify-content: center;
    align-content: center;
}

.padding-fix1{
    padding-top: 108px;
}

.padding-fix2{
    padding-top: 124px;
}

.col-4 img{
    width: 250px;
}

.row1-first{
    padding-top: 163px;
}

.row2-first{
    padding-top: 148px;
}

.row1, .row2{
    display: flex;
    justify-content: center;
    align-content: center;
}


.add-cart{
    margin-top: 20px;
    border: 1px solid;
    border-radius: 10px;
}

.add-cart:hover{
    cursor: pointer;
}

.add-cart p{
    font-size: 18px;
}

.popup-des {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
  
.popup-content {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 60%;
    font-size: 30px;
    color: white;
}
  
.check{
    height: 150px;
    width: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
